
CareToCash/.vs/CareToCash/v16/Server/sqlite3/db.lock
CareToCash/.vs/CareToCash/v16/Server/sqlite3/storage.ide
CareToCash/.vs/CareToCash/v16/Server/sqlite3/storage.ide-shm
CareToCash/.vs/CareToCash/v16/Server/sqlite3/storage.ide-wal
CloudFunctions/.vs/CloudFunctions/v16/.suo
CareToCash/.vs/CareToCash/DesignTimeBuild/.dtbcache
CareToCash/.vs/CareToCash/v16/.suo
