
@page "/aa"
@inject IJSRuntime JSRuntime;
@inject NavigationManager navigationManger;

<div class="container2">
    <h1 class="g14">Care To Cash</h1>

    <label class="g15">E-mail:  </label>
    <input class="g16" type="email" @bind="@email" />


    <label class="g17">Password:  </label>
    <input class="g18" type="password" @bind="@password" />

    <button class="g19 btn-success" @onclick="LoginUser">Login</button>
    <button class="g20 btn-danger" @onclick="RegisterUser">Register</button>

</div>


@code {

    private string email;
    private string password;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            navigationManger.LocationChanged += OnLocationChanges;
            StateHasChanged();
        }

    }

    private void OnLocationChanges(object sender, LocationChangedEventArgs e)
    {

        StateHasChanged();
    }

   
    private void LoginUser()
    {
        JSRuntime.InvokeVoidAsync("LoginUser", email, password,DotNetObjectReference.Create(this));
        
    }

    private async Task RegisterUser()
    {
        await JSRuntime.InvokeVoidAsync("RegisterUser", email, password);
    }

    [JSInvokable]
    public void NavigateToMainPage()
    {

        navigationManger.NavigateTo("/main");
    }

}
