
@page "/"

    <div class="container2">
        <h1 class="g14">Care To Cash</h1>

        <label class="g15">E-mail:  </label>
        <input class="g16" type="email" name="emailaddress">

        <label class="g17">Password:  </label>
        <input class="g18" type="password" name="password">

        <button class="g19 btn-success">Login</button>
        <button class="g20 btn-danger">Register</button>


    </div>



@code {

}
